.btn-link {
    cursor: pointer;
    text-transform: none;
    text-decoration: none;
    color: #4b4b4b;
    align-self: center;
    justify-self: center;
    text-align: center;
    width: 100%;
    line-height: 32px;
    font-size: .9rem;
    padding: 5px;
    border-radius: 5px;
}

.btn-link:hover,
.dropbtn:hover {
    background: #ddd;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    border: none;
    background: transparent;
    padding: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}