.btn-link {
    cursor: pointer;
    text-transform: none;
    text-decoration: none;
    border: 1px solid #ddd;
    color: #4b4b4b;
    align-self: center;
    justify-self: center;
    text-align: center;
    line-height: 32px;
    font-size: .9rem;
    padding: 8px 5px;
    border-radius: 5px;
    margin-left: 5px;
    padding-top: 5px;
}

.btn-link:hover,
.dropbtn:hover,
.countrySelectDropdown:hover,
.XFcountrySelectDropdown:hover {
    background: #ddd;
}
.XFcountrySelectDropdown,
.countrySelectDropdown {
    float: left;
    overflow: hidden;
    border-radius: 5px;
}

.XFcountrySelectDropdown .dropbtn,
.countrySelectDropdown .dropbtn {
    border: none;
    background: transparent;
    border: 1px solid #ddd;
    padding: 0 8px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}