.btn-link {
    cursor: pointer;
    text-transform: none;
    text-decoration: none;
    color: #4b4b4b;
    align-self: center;
    justify-self: center;
    text-align: center;
    width: 100%;
    line-height: 32px;
    font-size: .9rem;
    padding: 5px;
    border-radius: 5px;
}

.btn-link:hover {
    background: #ddd;
}